[Unit]
Description=newrun - %i
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
Restart=no
PIDFile=/var/run/%i.pid
#PIDFile=/var/run/user/uid/%i.pid
#User=newrun
#Group=newrun
ExecStart=path/to/newrun %i start
ExecReload=path/to/newrun %i reload
ExecStop=path/to/newrun %i stop Server stopped by systemd
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
